<h1>New User</h1>
<!--
<form method="POST" action="/users" accept-charset="utf-8">
    <label for="username"></label>New Username: </label>
    <input type="text" id="username" name="user[username]" placeholder="enter username">
    <label for="password">New Password: </label>
    <input type="password" id="password" name="user[password]" placeholder="enter password">
    <label for="email">New Email: </label>
    <input type="text" id="email" name="user[email]" placeholder="enter email">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button type="submit">Submit</button>
</form>
-->
<%= form_with model: @user do |form| %>
    <%= form.label :username, 'New Username: ' %>
    <%= form.text_field :username, placeholder: 'enter username'%>
    <%= form.label :password, 'New Password: ' %>
    <%= form.text_field :password, placeholder: 'enter password'%>
    <%= form.label :email, 'New Email: ' %>
    <%= form.text_field :email, placeholder: 'enter email'%>
    <%= form.submit 'Submit' %>
<% end %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    